<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">

<resultMap type="Chat" id="resultChat">
<result property="chat_no" column="chat_no"/>
<result property="user_no" column="user_no"/>
<result property="chat_name" column="chat_name"/>
<result property="chat_type" column="chat_type"/>
<result property="alert_status" column="alert_status"/>
<result property="join_time" column="join_time"/>
<result property="away_time" column="away_time"/>
<result property="check_join" column="check_join"/>
<result property="realty_no" column="realty_no"/>
</resultMap>


<resultMap type="Message" id="resultMessage">
<id property="message_no" column="message_no" />
<result property="message" column="message"/>
<result property="message_image" column="message_image"/>
<result property="origin_filename" column="origin_filename"/>
<result property="renew_filename" column="renew_filename"/>
<result property="post_time" column="post_time"/>
<result property="chat_no" column="chat_no"/>
<result property="user_no" column="user_no"/>
<result property="nickname" column="nickname"/>
<result property="user_profile" column="user_profile"/>
</resultMap>


<resultMap type="ChatBlock" id="resultChatBlock">
<id property="block_no" column="block_no"/>
<result property="block_user" column="block_user"/>
<result property="block_time" column="block_time"/>
<result property="user_no" column="user_no"/>
</resultMap>


<select id="selectMyListFilterChat" parameterType="_int" resultMap="resultChat">
SELECT CHAT_NO, USER_NO ,CHAT_NAME ,CHAT_TYPE ,ALERT_STATUS ,TO_CHAR(JOIN_TIME, 'YY/MM/DD/HH24/MI/SS') JOIN_TIME, TO_CHAR(AWAY_TIME, 'YY/MM/DD/HH24/MI/SS') AWAY_TIME,CHECK_JOIN, REALTY_NO
FROM TB_CHAT
JOIN TB_USER USING(USER_NO)
WHERE USER_NO = #{userno} AND USER_STATUS IN(0, 1, 2 ,4)
</select>

<select id="selectListMessage" parameterType="_int" resultMap="resultMessage">
SELECT MESSAGE_NO, MESSAGE, MESSAGE_IMAGE, ORIGIN_FILENAME, RENEW_FILENAME, TO_CHAR(POST_TIME,  'HH24:MI') POST_TIME, CHAT_NO, USER_NO, NICKNAME, USER_PROFILE
FROM TB_MESSAGE
JOIN TB_USER USING(USER_NO)
WHERE CHAT_NO = #{chatno}
</select>




</mapper>