<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="realtyMapper">

	<resultMap id="resultRealty" type="Realty">
		<id property="realty_no" column="realty_no"/>
		<result property="registdate" column="registdate" />
		<result property="renewdate" column="renewdate" />
		<result property="realty_hits" column="realty_hits" />
		<result property="realty_status" column="realty_status" />
		<result property="realty_type" column="realty_type" />
		<result property="building_type" column="building_type" />
		<result property="road_address" column="road_address" />
		<result property="land_lot" column="land_lot" />
		<result property="detail_address" column="detail_address" />
		
		<result property="month_lease" column="month_lease" />
		<result property="deposit" column="deposit" />
		<result property="payback_deposit_lease" column="payback_deposit_lease" />
		<result property="purchase" column="purchase" />
		<result property="residential" column="residential" />
		<result property="exclusive_area" column="exclusive_area" />
		<result property="building_layers" column="building_layers" />
		<result property="realty_layers" column="realty_layers" />
		<result property="heatting_system" column="heatting_system" />
		<result property="move_available_date" column="move_available_date" />
		
		<result property="management_pay" column="management_pay" />
		<result property="parking_lot" column="parking_lot" />
		<result property="elevator" column="elevator" />
		<result property="builtin" column="builtin" />
		<result property="allowance_pet" column="allowance_pet" />
		<result property="balcony" column="balcony" />
		<result property="loan_availability" column="loan_availability" />
		<result property="structure" column="structure" />
		<result property="airconditioner" column="airconditioner" />
		<result property="laundry_machine" column="laundry_machine" />
		
		<result property="bed" column="bed" />
		<result property="desk" column="desk" />
		<result property="closet" column="closet" />
		<result property="tv" column="tv" />
		<result property="gasrange" column="gasrange" />
		<result property="shoe_shelf" column="shoe_shelf" />
		<result property="refrigerator" column="refrigerator" />
		<result property="induction" column="induction" />
		<result property="microwave" column="microwave" />
		<result property="door_lock" column="door_lock" />
		
		<result property="bidet" column="bidet" />
		<result property="realty_detail_title" column="realty_detail_title" />
		<result property="realty_detail_comment" column="realty_detail_comment" />
		<result property="realty_image1" column="realty_image1" />
		<result property="realty_image2" column="realty_image2" />
		<result property="realty_image3" column="realty_image3" />
		<result property="realty_image4" column="realty_image4" />
		<result property="realty_image5" column="realty_image5" />
		<result property="realty_image6" column="realty_image6" />
		<result property="realty_image7" column="realty_image7" />
		
		<result property="realty_image8" column="realty_image8" />
		<result property="image360" column="image360" />
		<result property="user_no" column="user_no" />
	
	</resultMap>

	<resultMap id="resultDibs" type="Dibs">
		<result property="dibs_no" column="dibs_no" />
		<result property="memo" column="memo" />
		<result property="user_no" column="user_no" />
		<result property="realty_no" column="realty_no" />
	</resultMap>

	<select id="selectRealtyDetailView" parameterType="Realty" resultMap="resultRealty">
		select * from tb_realty
		where realty_no = #{realty_no}
	</select>
	
	<select id="selectDibsCount" parameterType="int" resultType="int">
		select count(*) from tb_dibs
		where realty_no = #{realty_no}
	</select>
	
	<select id="selectDibsCheck" parameterType="Dibs" resultType="int">
		select count(*) from tb_dibs
		where realty_no = #{realty_no} and user_no = #{user_no}		
	</select>
	
	<update id="updateRealtyHits" parameterType="int">
		update tb_realty
		set realty_hits = realty_hits + 1
		where realty_no = #{realty_no}
	</update>
	
	<insert id="insertRealty" parameterType="Realty" useGeneratedKeys="true">
		insert into tb_realty
		values (realty_seq.nextval, default, default, default, default, #{realty_type}, #{building_type,jdbcType=VARCHAR}, #{road_address}, #{land_lot}, #{detail_address},
		        #{month_lease,jdbcType=INTEGER}, #{deposit,jdbcType=INTEGER}, #{payback_deposit_lease,jdbcType=INTEGER}, #{purchase,jdbcType=INTEGER}, #{residential,jdbcType=INTEGER}, #{exclusive_area,jdbcType=INTEGER}, #{building_layers}, #{realty_layers}, #{heatting_system}, #{move_available_date},
		        #{management_pay,jdbcType=INTEGER}, #{parking_lot,jdbcType=VARCHAR}, #{elevator}, #{builtin}, #{allowance_pet}, #{balcony}, #{loan_availability}, #{structure}, #{airconditioner}, #{laundry_machine},
		        #{bed}, #{desk}, #{closet}, #{tv}, #{gasrange}, #{shoe_shelf}, #{refrigerator}, #{induction}, #{microwave}, #{door_lock},
		        #{bidet}, #{realty_detail_title,jdbcType=VARCHAR}, #{realty_detail_comment,jdbcType=VARCHAR}, #{realty_image1,jdbcType=VARCHAR}, #{realty_image2,jdbcType=VARCHAR}, #{realty_image3,jdbcType=VARCHAR}, #{realty_image4,jdbcType=VARCHAR}, #{realty_image5,jdbcType=VARCHAR}, #{realty_image6,jdbcType=VARCHAR}, #{realty_image7,jdbcType=VARCHAR},
		        #{realty_image8,jdbcType=VARCHAR}, #{image360,jdbcType=VARCHAR}, #{user_no})
	</insert>
	
	
	<select id="selectMarkerList"  resultMap="resultRealty" useCache="true">
		select * from tb_realty
	</select>
	


</mapper>